@page "/blog"

@using Berrysoft.Pages.Data

@implements IDisposable

@inject LocalizationService Localization
@inject BlogService BlogService

<div class="fade-in fade-in-1">
    <h1><Tred Key="blogTitle" /></h1>
</div>

<div class="fade-in fade-in-2">
    <div class="list-group list-group-flush">
        @if (BlogService.Data != null)
        {
            @foreach (var post in BlogService.Data.Reverse())
            {
                <a class="list-group-item list-group-item-action" href="blog/@post.Filename">
                    <h2>@post.Title</h2>
                    <p class="text-secondary">
                        <time datetime="@post.Date">@post.Date.ToString(Localization.Culture)</time>
                    </p>
                    <p>@post.Description</p>
                </a>
            }
        }
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        Localization.LanguageChanged += OnLanguageChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await BlogService.LoadDataAsync();
            StateHasChanged();
        }
    }

    private void OnLanguageChanged(object sender, string e)
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        Localization.LanguageChanged -= OnLanguageChanged;
    }
}
