@page "/blog"

@using Berrysoft.Pages.Data

@implements IDisposable

@inject ILocalizationService Localization
@inject IBlogService BlogService

<h1><Tred Key="blogTitle" /></h1>

<ul class="list-group list-group-flush">
    @if (BlogService.Data != null)
    {
        @foreach (var post in BlogService.Data.Reverse())
        {
            <li class="list-group-item">
                <a href="blog/@post.Filename">
                    <h2>@post.Title</h2>
                </a>
                <p>@post.Date.ToString(Localization.Culture)</p>
            </li>
        }
    }
</ul>

@code {
    protected override async Task OnInitializedAsync()
    {
        Localization.LanguageChangedAsync += OnLanguageChanged;
        await Task.Run(async () =>
        {
            await BlogService.LoadDataAsync();
            StateHasChanged();
        });
    }

    private ValueTask OnLanguageChanged(object sender, string e)
    {
        StateHasChanged();
        return new ValueTask();
    }

    public void Dispose()
    {
        Localization.LanguageChangedAsync -= OnLanguageChanged;
    }
}
