@page "/counter"

@using Berrysoft.Pages.Data

@inject IJSRuntime JSRuntime
@inject ICounterService CounterService

<div class="fade-in fade-in-1">
    <h1><Tred Key="counterTitle" /></h1>
</div>

<div class="fade-in fade-in-2">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"><Tred Key="counterTotalCount" /></th>
                <th scope="col"><Tred Key="counterDistinctCount" /></th>
                <th scope="col"><Tred Key="counterSentenceCount" /></th>
                <th scope="col"><Tred Key="counterAverageCount" /></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@CounterService.TotalCount</td>
                <td>@CounterService.DistinctCount</td>
                <td>@CounterService.SentenceCount</td>
                <td>@CounterService.AverageCount</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="fade-in fade-in-3">
    <textarea class="form-control" style="height: 60vh; resize: vertical;" @bind-value="CounterService.Text" @bind-value:event="oninput" />
</div>
