@typeparam T

@inherits DataGridBase

<CascadingValue Value=this>
    <table class="table table-hover">
        <thead>
            <tr>
                @Headers
            </tr>
        </thead>
        <tbody>
            @foreach (var item in DisplayItems)
            {
                <tr>
                    @ChildContent((T)item)
                </tr>
            }
        </tbody>
    </table>
</CascadingValue>

@code {
    [Parameter]
    public RenderFragment<T> ChildContent { get; set; }
}
