@using Berrysoft.Pages.Data

@inject ILocalizationService Localization

<button class="btn btn-link" @onclick="OnClick">@ChildContent</button>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Language { get; set; }

    private void OnClick()
    {
        Localization.Language = Language;
    }
}
