@inherits LayoutComponentBase

@using Berrysoft.Pages.Data

@inject ILocalizationService Localization

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/Berrysoft" target="_blank" class="ml-md-auto">GitHub</a>
    </div>

    <div class="content px-4">
        @Body
        <div class="footer">
            <div class="form-row align-items-center text-muted px-4">
                <div class="col"></div>
                <div class="col-auto">
                    <span class="oi oi-globe" aria-hidden="true"></span>
                </div>
                <div class="col-auto">
                    <select class="form-control" @bind="@Language">
                        @if (languages != null)
                        {
                            @foreach (var lang in languages)
                            {
                                <option value="@lang.Key">@lang.Value</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    Dictionary<string, string> languages;

    protected override async Task OnInitializedAsync()
    {
        if (languages == null)
            languages = await Localization.GetLanguagesAsync();
    }

    private string Language
    {
        get => Localization.Language;
        set => Localization.Language = value;
    }
}
