@using System.Globalization
@using Berrysoft.Pages.Data

@inherits LayoutComponentBase

@implements IDisposable

@inject ILocalStorage Storage
@inject LocalizationService Localization
@inject ThemeService ThemeService

<NavMenu />

<div class="container">
    @Body
</div>

<NavFooter />

@code {
    private const string ThemeKey = "Theme";

    protected override async Task OnInitializedAsync()
    {
        await Localization.SetLanguageAsync(CultureInfo.CurrentCulture.Name);
        if (await Storage.GetStorageAvaliableAsync())
        {
            if (await Storage.ContainsKeyAsync(ThemeKey))
            {
                await ThemeService.SetThemeAsync(await Storage.GetItemAsync(ThemeKey));
            }
            ThemeService.ThemeChangedAsync += OnThemeChangedAsync;
        }
    }

    private async ValueTask OnThemeChangedAsync(object sender, Theme t)
    {
        if (t.Name != null)
        {
            await Storage.SetItemAsync(ThemeKey, t.Name);
        }
    }

    public void Dispose()
    {
        ThemeService.ThemeChangedAsync -= OnThemeChangedAsync;
    }
}
