@using System.Threading
@using Berrysoft.Pages.Data

@inherits LayoutComponentBase

@inject ILocalizationService Localization

<NavMenu />

<div class="container">
    @Body
</div>

<NavFooter />

@code {
    protected override async Task OnInitializedAsync()
    {
        await Task.Run(async () =>
        {
            await Localization.SetLanguageAsync(Thread.CurrentThread.CurrentUICulture.Name);
        });
    }
}
