@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/Berrysoft" target="_blank" class="ml-md-auto">GitHub</a>
    </div>

    <div class="content px-4" style="min-height: 60%;">
        @Body
    </div>

    <div class="text-right px-4">
        <LangLink Language="">English</LangLink>
        <LangLink Language="zh-hans">简体中文</LangLink>
    </div>
</div>
