@using System.Threading
@using Berrysoft.Pages.Data

@inherits LayoutComponentBase

@inject ILocalizationService Localization

<div class="wrapper">
    <NavMenu />
</div>

<div class="wrapper">
    <div class="content px-4 py-4">
        @Body
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await Task.Run(async () =>
        {
            // Try to solve the bug on iOS.
            await Task.Delay(500);
            await Localization.SetLanguageAsync(Thread.CurrentThread.CurrentUICulture.Name);
        });
    }
}
