@using System.Threading
@using Berrysoft.Pages.Data

@inherits LayoutComponentBase

@inject ILocalizationService Localization

<NavMenu />

<div class="container" style="margin-top: 60px; margin-bottom: 60px;">
    @Body
</div>

<NavFooter />

@code {
    protected override async Task OnInitializedAsync()
    {
        await Task.Run(async () =>
        {
            await Task.Delay(500);
            await Localization.SetLanguageAsync(Thread.CurrentThread.CurrentUICulture.Name);
        });
    }
}
